<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <h1>New game</h1>

      <%# <ul class="list-group"> %>
        <% @letters.each do |letter| %>
          <%# <li class="list-group-item active"> %>
            <%= letter %>
          <%# </li> %>
        <% end %>
      <%# </ul> %>

      <form action="/score" method="post" data-turbo="false">
        <input type="text" name="word" placeholder="What is the longest word you can find?">
        <input type="submit" value="Play">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input id= "form_authenticity_token" name="letters" type="hidden" value="<%= @letters %>">
      </form>
    </div>
  </div>
</div>
